# File, username, password, hostname required

FILE=/Users/sukharev/Desktop/file
LINES=10
RECEPIENT=sukharev@example.com
MAIL_USERNAME=sukhaver@example.com
MAIL_PASSWORD=password1
MAIL_HOSTNAME=mail.example.com
MAIL_PORT=465

